PORT=3000
NODE_ENV=development

# Neon PostgreSQL connection string
# Example:
# postgres://user:password@ep-xxxxxx.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
DATABASE_URL=postgresql://neondb_owner:npg_w4DXbKOQW2yM@ep-tiny-recipe-ao1bat3w.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
PGSSLMODE=require

# Domain where your API server is reachable by mobile app (without protocol)
# Example: your-api.example.com
EXPO_PUBLIC_DOMAIN=

# Optional service keys
FAST2SMS_API_KEY=BfJKY5R0A6c2H7WiUQT3Lasm4V8NMIuzjyEqxgwGZnoCPtDdObyXb7puYJ09hW3FkBUmIrDM8wClfaNL
FAST2SMS_SENDER_ID=VIDEHE
FAST2SMS_MESSAGE_ID=209634
DLT_TEMPLATE_ID=1007181628875366114
AGORA_APP_ID=45625ba414d24e7b94712f3cdf4241fc
AGORA_APP_CERTIFICATE=be487c695e86441d9e0ca18d2848be09
EXPO_PUBLIC_AGORA_APP_ID=45625ba414d24e7b94712f3cdf4241fc
